.corpo-pagina {
    background-color: #EDE4E0;
    color: #665A48;
    width: 2000px;
    height: 300px;
}
.cabecario-pagina {
    width: 2120px;
    height: 90px;
    background-color: #9F8772;
}
.pagina {
    width: 1500px;
    height: 50px;
}
.coluna {
    width: 500px;
    height: 1500px;
    border-left: 1500px;
    color: #665A48;
    border-left: 1500px;
}
.artigo-pagina {
    padding: 1px 5px 2px 50px;
    text-align: center;
}
.titulo-pagina {
    font-size: 5rem;
    padding-left:auto;
}
.titulo-coluna {
    font-size: 2.5rem;
}
.subtitulo-pagina {
    font-size: 3.5rem;
    padding-left: auto;
}
.subtitulo-coluna {
    font-size: 1.5rem;
}
.paragrafo-pagina {
    font-size: 2rem;
    padding-left:auto;
}
.navegador-pagina ul {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 500px;
}
.navegador-pagina a {
    font-size: 3rem;
    line-height: 2;
    text-decoration: none;
    color: #daffc6;
}
.rodape-pagina {
    text-align: right;
}